<!-- File to house the footer to be used in almost every page. -->

<footer id="footer">
	<div class="fixedContainer row">
		<div class="col-7">
			Created by
			<a href="https://deve-sh.github.io"
				target="_blank"
				title="Website"
				aria-label="Website"
				rel="noopener noreferrer">Devesh</a>.
		</div>
		
		<div class="col-5" style="text-align: right;">
			<!-- Social Links -->

			<a href="https://facebook.com/#"
				title="Facebook Page"
				aria-label="Facebook Page"
				target="_blank"
				rel="noopener noreferrer">
				<i class="fab fa-facebook-square fa-lg"></i>
			</a>

			&nbsp;

			<a href="https://twitter.com/#"
				title="Twitter Handle" 
				aria-label="Twitter Handle"
				target="_blank" 
				rel="noopener noreferrer">
				<i class="fab fa-twitter-square fa-lg"></i>
			</a>

			&nbsp;

			<a href="https://instagram.com/#"
				title="Instagram Page"
				aria-label="Instagram Page" 
				target="_blank" 
				rel="noopener noreferrer">
				<i class="fab fa-instagram fa-lg"></i>
			</a>
		</div>
	</div>
</footer>