/*
	Styles that are to be applied to the entire web app.

	Scroll down further towards the end to view the responsive components.
*/

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	line-height: 1.61;
}

/* Modifying some pre-defined component styles. */

.row{
	margin: 0;
}

.container-fluid{
	padding: 0;
	margin: 0;
}

.fixedContainer{
	/* Container that will span a max of 1000px and make the web page look better structured. */
	max-width: 1000px;
	margin: 0 auto;
	padding: 1rem;
}

.nopadding{
	padding: 0;
}

.nomargin{
	margin: 0;
}

/* Header */

#header{
	padding: 0;
	background: rgb(0, 129, 203);
	color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#header .col-6{
	padding: 0;
}

#header .logo{
	font-size : 1.1rem;
}

#header a{
	color: #fff;
	text-decoration: none;
}

#menuContainer{
	display: block;
	text-align: right;
}

/* The side navigation menu that will appear on the page when the user is using a device with a small screen. */

#sidenavContainer{
	display: none;		/* Don't display the toggle if the user is not using a small screen device. */
	text-align: left;
}

.sidenavOpener{
	cursor: pointer;
}

#sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: #111;
  overflow-x: hidden;
  text-align: center;
  padding-top: 1rem;
  transition: 0.5s;
}

#sidenav a {
  padding: 0.8rem;
  text-decoration: none;
  font-size: 1.35rem;
  color: #818181;
  display: block;
  transition: 0.1s;
}

#sidenav a:hover {
  color: #f1f1f1;
}

#sidenav .sidenavcloser {
	display: block;
	font-size: 1.45em;
	padding: 1rem;
	text-align: right;
	cursor: pointer;
}

/* Signup and Signin Page Styles */

.formContainer{
	min-height: 80vh;
	text-align: center;
}

.rlform{
	display: inline-block;
	min-width: 70%;
	padding: 0.5rem;
	margin: 0 auto;
	text-align: left;
}

/* Internships page. */

.internships, .internshipPage{
	min-height: 80vh;
}

.roundedIcon{
	padding: 2rem;
	border-radius: 50%;
	background : #efefef;
	color: #bfbfbf;
	display: inline-block;
}

.internship{
	border: 0.1rem solid #cfcfcf;
	border-radius: 0.35rem;
}

.internship .int-title{
	font-weight: normal;
	padding: 0.75rem 1rem;
	font-size: 1.2rem;
}

.internship .empname{
	font-weight: bold;
	padding: 0 1rem;
	font-size: 1.07rem;
}

.internship .location{
	padding: 0.35rem 1rem;
}

.internship .int-details{
	background: #efefef;
	padding: 0.75rem;
	text-align: center;
}

.pager{
	list-style: none;
}

.pager li{
	display: inline;
}

.pager li:hover{
	background: #efefef;
}

.pager .previous, .pager .next{
	background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    display: inline-block;
    border-radius: 0.5rem;
}

.pager a{
	text-decoration: none;
	color: #333333;
}

.bottomLine{
	border: none;
	height: 0.12rem;
	background: #afafaf;
	width: 60%;
}

/* Styles for displaying the details of one single internship. */

.internshipPage .int-title{
	font-size: 1.85rem;
	font-weight: bold;
}

.internshipPage .int-empname{
	font-size: 1.2rem;
	color: gray;
}

.internshipPage .int-details{
	border: 0.1rem solid #cfcfcf;
	padding: 0.85rem;
	text-align: center;
	border-radius: 0.4rem;
}

.internshipPage .int-details .fieldname{
	font-weight: bold;
}

.internshipPage .int-description{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-weight: 400;
    font-size: 1rem;
	padding: 0;
	margin: 0;
}

/* User Dashboard Styles */

.dashboard {
	min-height: 85vh;
}

.user-option{
	background: teal;
	padding: 1rem;
	min-width: 80%;
	max-width: 90%;
	display: inline-block;
	border-radius: 0.3rem;
	margin: 0.5rem auto;
	vertical-align: middle;
	color: white;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.user-option a{
	color: white;
	text-decoration: none;
}

textarea{
	padding: 0.65rem;
	min-height: 40vh;
}

/* Footer */

#footer{
	background: #212121;
	color: #ffffff;
	padding: 0;
}

#footer a{
	color: #ffffff;
	text-decoration: none;
}

#footer .fixedContainer{
	padding: 2rem;
}

/* Some miscellaneous styles */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Styles for a responsive app. */

@media only screen and (max-width: 600px){
	#sidenavContainer{
		display: inline-block;		/* Display the side navigation toggle. */
	}

	#menuContainer{
		display: none;
	}

	.rlform{
		min-width: 95%;
	}

	.internship .int-details{
		text-align: left;
		padding: 0.5rem 0rem;
	}

	.internshipPage .int-details{
		padding: 0.2rem;
	}

	.internshipPage .int-details .col-3{
		padding: 0;
		font-size: 0.85rem;
	}
}